*{
    padding: 5px;
}
table{
    border-spacing: 10px;
    border-color: rgb(233, 233, 233);
    background-color: #cfcccc;
    border-collapse: unset;
    

}
.red{
    background-color: red;
}
.gray{
    background-color: gray;
}
.space{
    width: 90px;
}
*:not(.space){
    width: 500px;
}