#img{
    width: 100%;
    height: 100px;
    position: absolute;
    z-index: -1;
    top:0px;
    left:0px
}
h1{
    margin-left: 200px;
    margin-right:120px;
    font-family: 'Courier New', Courier, monospace;
    
}
li{
    display: block;
}
table{
    border-color: beige;
    position:relative;
    width:100%
}
#C{
    background-color: aqua;
    width:100px
}
#A{
    background-color: rgb(95, 211, 91);
}
h2{
    color:red;
}
h3{
   color: green;
}
.A{
  
    background-color: aqua;
}

